<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289734935953-qgteau77bo2p9hjct7arcpaqda5o3tbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289734935953-qgteau77bo2p9hjct7arcpaqda5o3tbf</string>
	<key>API_KEY</key>
	<string>AIzaSyDVHg14hfusDC7rnaRwH3SIIqL-EqU4F7o</string>
	<key>GCM_SENDER_ID</key>
	<string>289734935953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pipcy.Instagram</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-da773</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-da773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289734935953:ios:5b69942ff9408a806c4630</string>
</dict>
</plist>